div{
    margin-top: 10vh;
    width: 35vw;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px  rgba(0, 0, 0, 0.425);
    cursor: pointer;
}
div:hover{
    transition: 0.3s;
    transform: scale(1.04);
}

h1{
    text-align: right;
    font-weight: bolder;
    color: rgb(10, 89, 126);
}
p{
    font-size: 20px;
    text-align: justify;
}