
.container{
    width: 100vw;
    height: 100vh;
    background: url('../assets/img/wallpaper.png') no-repeat;
    background-size: 100% ;
    background-position: right bottom ;
}
.content{
    padding: 20px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
nav ul li{
    display: block;
    font-size: 22px;
    font-weight: bolder;
    padding: 20px;
}

nav ul li a:link{
    color: #006600;
    text-decoration: none;
}
nav ul li a:visited{
    color: #006600;
    text-decoration: none;
}

nav ul li:hover{
    transition: 0.2s;
    transform: scale(0.9);
}